h1, strong {
  color: green;
  margin: 0;
}

body {
  padding: 75px;
  background-color: ivory;
}

p.contact {
  text-align: right;
  margin: 0;
}

h3, h4, p {
  margin: 0;
}

h2 {
  color: green;
  margin: 1
}

h1 {
  font-size: 50px;
}

th {
  padding-right: 200px
}

h4 {
  text-align: right;
}

th.audio {
  padding-right: 132px;
}

th.powerhaus {
  padding-right: 248px;
}

th.server {
  padding-right: 238px;
}

th.counter {
  padding-right: 204px;
}

th.record {
  padding-right: 229px;
}

th.school {
  padding-right: 425px;
}

a {
  color: black;
}
